view,swiper,swiper-item{
	box-sizing: border-box;
}

.pageBg{
	// background: 
	// linear-gradient(to bottom,rgba(0,0,0,0),#fff 60vh),
	// linear-gradient(to right,#d1e4a3,#a0c6c5);
	background-image: url('../../static/images/sprite2.png');
	background-repeat: no-repeat;
	background-position: -3rem -3rem;
	background-size: 250% 110%;
	min-height: 80vh;
}